Text-Clevery-*
.*
!.gitignore
!.shipit
*.o
*.obj
*.bs
*.def
Makefile*
!Makefile.PL
*blib
META.yml
MYMETA.yml
inc/
MANIFEST
*.out
*.bak
ppport.h
nytprof*
cover_db*
*.gcda
*.gno
*.gcov
*.stackdump
*.tplc
Smarty2/
Smarty3/
.build
